body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255); /* Color de fondo azul */
}

.titulo{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}
#cuadro-azul {
  background-color: rgb(17, 212, 226); /* Color de fondo del cuadro azul */
  width: 500px; /* Cambia el tamaño del cuadro azul según tus preferencias */
  height: 500px; /* Cambia el tamaño del cuadro azul según tus preferencias */
  position: relative;
  overflow: hidden; /* Evita que el pato se salga del cuadro */
}

.pato {
  width: 50px; /* Cambia el tamaño del pato según tus preferencias */
  height: 50px; /* Cambia el tamaño del pato según tus preferencias */
  background-image: url('./assests/imagen_del_pato.png'); /* Reemplaza con la ruta de tu imagen de pato */
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}



@keyframes huye {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(200%); /* Puedes ajustar el valor según tu preferencia */
  }
}
