body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  background-color: rgb(255, 255, 255); /* Color de fondo azul */
}

.titulo{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}
#cuadro-azul {
  background-color: rgb(17, 212, 226); /* Color de fondo del cuadro azul */
  width: 500px; /* Cambia el tamaño del cuadro azul según tus preferencias */
  height: 500px; /* Cambia el tamaño del cuadro azul según tus preferencias */
  position: relative;
  overflow: hidden; /* Evita que el pato se salga del cuadro */
}

.pato {
  width: 50px; /* Cambia el tamaño del pato según tus preferencias */
  height: 50px; /* Cambia el tamaño del pato según tus preferencias */
  background-image: url('./assests/imagen_del_pato.png'); /* Reemplaza con la ruta de tu imagen de pato */
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.iniciarJuego{
   
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 122px;
    color: azure;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    padding-bottom: 20px;
}

.iniciarJuego:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(205, 238, 16), rgb(188, 255, 4), rgb(20, 255, 51), rgb(218, 88, 37), red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes huye {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(200%); /* Puedes ajustar el valor según tu preferencia */
  }
}

